.primary-100 {
  position: relative;
  display: block;
  min-inline-size: fit-content;
  max-inline-size: fit-content;
  padding-block: calc(var(--space-xxs));
  padding-inline: var(--space-s);
  border: 0;
  border-radius: 99999px;
  box-shadow: var(--shadow-elevation-low);
  background-color: var(--clr-bg, var(--clr-primary-100));
  transition: background-color 300ms ease-in-out;
  font-weight: 900;
  text-decoration: none;
  color: var(--clr-secondary-100);

  &::after {
    content: "";
    position: absolute;
    opacity: 0;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 99999px;
    box-shadow: var(--shadow-elevation-medium);
    transition: opacity 300ms ease-in-out;
  }

  &:focus::after,
  &:hover::after {
    opacity: 1;
  }

  &:is(:hover, :focus) {
    --clr-bg: var(--clr-secondary-200);
    cursor: pointer;
  }

  &.primary-200 {
    --clr-bg: var(--clr-primary-200);

    &:is(:hover, :focus) {
      --clr-bg: var(--clr-secondary-300);
    }
  }
}
