.button {
  --radius: 0.5em;
  --shadow-color: var(--clr-neutral-300);

  position: relative;
  max-inline-size: fit-content;
  box-shadow: var(--shadow-elevation-low);
  transition: background-color 300ms ease-in-out;
  text-align: center;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    opacity: 0;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--radius);
    box-shadow: var(--shadow-elevation-medium);
    transition: opacity 300ms ease-in-out;
  }

  &:focus::after,
  &:hover::after {
    opacity: 1;
  }
}

.button:hover {
  border-color: var(--color-fg);
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.button:hover[data-state="dark"] {
  background-color: red;
}
