.features {
  .images {
    --container-max: min(100%, 65rem);
    --bespoke-gap: var(--space-xs);
    --min: 12rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    gap: var(--bespoke-gap);

    img {
      border-radius: 1rem;
    }
  }

  .text {
    inline-size: min(100%, 40rem);

    > p:first-of-type {
      font-size: var(--step-0);
      font-weight: 900;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: var(--clr-primary-100);
    }
  }
}
