@use "../abstracts/breakpoints" as *;

.footer {
  --container-max: min(100%, 75rem);
  position: relative;
  grid-column: 1 / -1;
  padding-block: var(--space-xl);
  background-color: var(--clr-primary-100);

  &::before {
    content: " ";
    position: absolute;
    display: block;
    opacity: 0.05;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-image: url("../images/tablet/image-footer.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  :is(h2, p) {
    font-weight: 900;
    color: var(--clr-secondary-100);

    @include respond-to("large") {
      text-align: start;
    }
  }

  .text {
    --bespoke-gap: var(--space-l);
    flex-wrap: wrap;
    align-items: center;

    > * {
      flex-basis: min(100%, 15rem);
    }
  }
}
