.hero {
  --bespoke-gap: var(--space-s);

  &.has-sidebar-reverse {
    min-inline-size: 70%;
  }

  picture {
    z-index: -1;

    @media (min-width: 775px) {
      transform: translateX(calc(var(--space-xxl) * -1));
    }
  }
}
