.intro {
  --flow-space: var(--space-xl);

  align-items: center;

  .relative {
    position: relative;
  }

  .relative::after {
    content: url("data:image/svg+xml,%3Csvg width='289' height='39' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 37.676c92.173-48 187.84-48 287 0' stroke='%23172339' stroke-width='2' fill='none'/%3E%3C/svg%3E");
    position: absolute;
    inset-inline-start: 50%;
    inline-size: 100%;
    block-size: 100%;
    transform: translate(-50%, -90%);
  }

  &.has-sidebar-reverse {
    min-inline-size: 70%;
  }

  picture {
    display: flex;
  }

  picture img {
    inline-size: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
