.testomonial {
  --bespoke-gap: var(--space-xxl);
  --flow-space: var(--space-l);
  --min-basis: 40rem;
  --padding-inline: var(--space-l);
  --padding-block: var(--space-xl);

  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: center;
  margin-block-start: min(calc(var(--space-xxl) * 5), 50vw);

  .image-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    align-self: flex-end;
    margin-block-end: calc(var(--padding-block) * -1);

    img {
      position: absolute;
      inset-block-end: 0;
    }
  }
}
