.testomonial {
  --bespoke-gap: var(--space-m);
  --flow-space: var(--space-l);
  --min-basis: 40rem;
  --padding-inline: var(--space-l);
  --padding-block: var(--space-xl);

  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  margin-block-start: min(calc(var(--space-xl) * 6), 60vw);
  text-align: center;

  @media (min-width: 775px) {
    text-align: start;
  }

  .flow-content {
    align-items: center;

    @media (min-width: 775px) {
      align-items: revert;
    }
  }

  .image-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    align-self: flex-end;
    margin-block-end: calc(var(--padding-block) * -1);

    img {
      position: absolute;
      inset-block-end: 0;
      background: radial-gradient(
        circle at 50% 75%,
        hsla(292, 76%, 54%, 0.5) 10%,
        transparent 40%
      );
    }
  }

  .swoosh {
    flex-grow: 0;
    margin-block-start: calc(var(--padding-block) * 1);

    img {
      margin-inline: auto;
    }
  }
}
