.with-sidebar {
  --first-child-basis: 20rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--bespoke-gap, var(--space-s, 1rem));

  > :first-child {
    flex-basis: var(--first-child-basis, 30%);
    flex-grow: var(--first-child-grow, 1);
    min-inline-size: var(--first-child-min-size, auto);
  }

  > :last-child {
    flex-basis: var(--last-child-basis, 0);
    flex-grow: var(--last-child-grow, 999);
    min-inline-size: var(--last-child-min-size, 50%);
  }
}
