@use "reset";
@use "abstracts/variables";

/* ==================================================
Composition
================================================== */

@use "composition/box";
@use "composition/center";
@use "composition/flow-content";
@use "composition/flow-section";
@use "composition/sidebar";
@use "composition/switcher";

/* ==================================================
Utilities
================================================== */

@use "utilities/box-shadow";
@use "utilities/skip-link";
@use "utilities/visually-hidden";

/* ==================================================
Blocks
================================================== */

// @use "blocks/hero";
// @use "blocks/features";
// @use "blocks/header";
// @use "blocks/numbers";
// @use "blocks/footer";
// @use "blocks/button";

/* ==================================================
  Global Styles
================================================== */

body {
  --flow-section: var(--flow-l);

  overflow-x: hidden;
  background-color: var(--clr-secondary-100);
  font-family: var(--ff-body);
  font-size: var(--step-0);
  text-align: center;
}

main {
  --flow-section: var(--flow-s);
}

:is(h1, h2) {
  color: var(--clr-primary-400);
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

p {
  color: var(--clr-primary-300);
}

:focus-visible {
  opacity: 1 !important;
  outline: 4px solid var(--clr-primary-400);
  outline-offset: 4px;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
