@use "reset";
@use "abstracts/variables";

/* ==================================================
Composition
================================================== */

@use "composition/box";
@use "composition/container";
@use "composition/flow-content";
@use "composition/flow-section";
@use "composition/sidebar";
@use "composition/switcher";

/* ==================================================
Utilities
================================================== */

@use "utilities/box-shadow";
@use "utilities/color-dark";
@use "utilities/font-large";
@use "utilities/skip-link";
@use "utilities/visually-hidden";
@use "utilities/uppercase";
@use "utilities/weight-bold";

/* ==================================================
Blocks
================================================== */

/*  ==================================================
Exceptions
================================================== */

@use "exceptions/box-dark";
@use "exceptions/box-gradient";

body {
  --flow-section: var(--flow-l);

  background-color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  font-size: var(--step-0);
  color: var(--clr-neutral-300);
}

:is(h1, h2) {
  font-weight: 400;
  color: var(--clr-neutral-400);
}

h1 {
  font-size: var(--step-6);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--step-4);
  letter-spacing: -0.5px;
}

p {
  max-inline-size: 40ch;
}

:focus-visible {
  opacity: 1 !important;
  outline: 4px solid var(--clr-primary-400);
  outline-offset: 4px;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
