@use "reset";
@use "abstracts/variables";

/* ==================================================
Composition
================================================== */

@use "composition/align-content";
@use "composition/box";
@use "composition/flow-content";
@use "composition/flow-section";
@use "composition/sidebar";
@use "composition/switcher";

/* ==================================================
Utilities
================================================== */

@use "utilities/color-dark";
@use "utilities/font-large";
@use "utilities/skip-link";
@use "utilities/uppercase";
@use "utilities/visually-hidden";
@use "utilities/weight-bold";

/* ==================================================
Blocks
================================================== */

@use "blocks/button";
@use "blocks/header";
@use "blocks/hero";
@use "blocks/aside";
@use "blocks/super-solution";
@use "blocks/just-works";
@use "blocks/footer";

/* ==================================================
Exceptions
================================================== */

@use "exceptions/box-dark";
@use "exceptions/reverse-sidebar";

/* ==================================================
Global Styles
================================================== */

body {
  grid-template-rows: auto 1fr auto;
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-body);
  font-size: var(--step-0);
  color: var(--clr-neutral-300);
}

:is(h1, h2) {
  font-weight: 400;
  color: var(--clr-neutral-400);
}

h1 {
  font-size: var(--step-6);
  letter-spacing: -1px;
}

h2 {
  font-size: var(--step-4);
  letter-spacing: -0.5px;
}

p {
  max-inline-size: 45ch;
}

:focus-visible {
  opacity: 1 !important;
  outline: 4px solid var(--clr-primary-200);
  outline-offset: 4px;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
